.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .country-container {
            grid-template-columns: repeat(1, 1fr);
        }
}

@media screen and (min-width: 769px) {
    .country-container {
        grid-template-columns: repeat(2, 1fr);
    }
}